<!DOCTYPE html>
<html lang="en">
  %- include('partials/head') %>
  <body>
    <div class="wrapper">
      %- include('partials/header') %>
      %- include('partials/nav') %>

      <main>
        <section class="hero">
          <img src="/public/images/vehicles/adventador-tn.jpg" alt="adventador-tn" />
          <h1>Welcome to CSE Motors</h1>
          <p>Your trusted car dealership for quality and value.</p>
        </section>

        <section class="features">
          <div class="feature">
            <img src="/public/images/vehicles/adventador.jpg" alt="adventador" />
            <h2>Reliable Sedans</h2>
            <p>Fuel-efficient and perfect for city driving.</p>
          </div>
          <div class="feature">
            <img src="/public/images/vehicles/aerocar.jpg" alt="Aero Car" />
            <h2>Powerful SUVs</h2>
            <p>For family, travel, and everything in between.</p>
          </div>
          <div class="feature">
            <img src="/public/images/vehicles/batmobile-tn.jpg" alt="batmobile-tn" />
            <h2>Sturdy Trucks</h2>
            <p>Get the job done with strength and durability.</p>
          </div>
        </section>
      </main>

      %- include('partials/footer') %>
    </div>
  </body>
</html>
